In [2]:
import numpy as np
import pandas as pd
import os
from pathlib import Path

In [54]:
class FactoryEnv:
    def __init__(self):
        order = pd.read_csv("data/order.csv")
        for i in range(40):
            order.loc[91+i,:] = ['0000-00-00', 0, 0, 0, 0]
        self.order = order    
        self.submission = pd.read_csv("data/sample_submission.csv")
        self.max_count = pd.read_csv('data/max_count.csv')
        self.stock = pd.read_csv("data/stock.csv")
        
        
        self.total_step = len(submission)
        
    def save_csv(self):
        PRTs = self.submission[["PRT_1", "PRT_2", "PRT_3", "PRT_4"]].values
        PRTs = (PRTs[:-1]-PRTs[1:])[24*23:]
        PRTs[-1] = [0., 0., 0., 0.]
        PRTs = np.ceil(PRTs * 1.1)+1
        PAD = np.zeros((24*23+1, 4))
        PRTs = np.append(PRTs, PAD, axis=0).astype(int)
        self.submission.loc[:, "PRT_1":"PRT_4"] = PRTs

        self.submission.to_csv("test.csv", index=False)    
        
    def reset(self):
        self.stock = np.array(pd.read_csv("data/stock.csv"), dtype=np.float32)[0]
        self.step_count = 0

#    def step(self, action):
        
#    def get_reward(self, prev):
    
#    def get_state(self):

In [4]:
np.array(pd.read_csv("data/stock.csv"), dtype=np.float32)[0]

array([    0.,   258.,     0.,     0.,  1086.,     0.,     0.,     0.,
       61158., 87279.,     0.,     0.], dtype=float32)

In [63]:

pd.read_csv("data/stock.csv")

,PRT_1,PRT_2,PRT_3,PRT_4,MOL_1,MOL_2,MOL_3,MOL_4,BLK_1,BLK_2,BLK_3,BLK_4
0,0,258,0,0,1086,0,0,0,61158,87279,0,0

In [64]:
np.array(pd.read_csv("data/stock.csv"), dtype=np.float32)[0]

array([    0.,   258.,     0.,     0.,  1086.,     0.,     0.,     0.,
       61158., 87279.,     0.,     0.], dtype=float32)

In [66]:
len(submission)

2184