In [1]:
import numpy as np
import pandas as pd
import os
from pathlib import Path

In [863]:
class FactoryEnv:
    def __init__(self):
        order = pd.read_csv("data/order.csv")
        for i in range(40):
            order.loc[91+i,:] = ['0000-00-00', 0, 0, 0, 0]
        self.order = order    
        self.submission = pd.read_csv("data/sample_submission.csv")
        self.max_count = pd.read_csv('data/max_count.csv')
        self.stock = pd.read_csv("data/stock.csv")
        self.cut_yield = pd.read_csv("data/cut_yield.csv")
        self.blk_dict = {'BLK_1' : 506, 'BLK_2' : 506, 'BLK_3' : 400, 'BLK_4' : 400}
        self.queue = np.empty((0,3), float)
        
        self.total_step = len(submission)
        
        self.mask = np.zeros([23], np.bool)
        
        self.check_time = 28    # 28시간 검사를 완료했는지 검사, CHECK Event시 -1, processtime_time >=98 이면 28
        self.process = 0        # 생산 가능 여부, 0 이면 28 시간 검사 필요
        self.process_mode = 0   # 생산 물품 번호 1~4, stop시 0
        self.process_time = 0   # 생산시간이 얼마나 지속되었는지 검사, PROCESS +1, CHANGE +1, 최대 140
        self.action_map = {0:'CHECK_1', 1:'CHECK_2', 2:'CHECK_3', 3:'CHECK_4',
                          4:'CHANGE_1', 5:'CHANGE_2', 6:'CHANGE_3', 7:'CHANGE_4',
                          8:'STOP',
                          9:'PROCESS_6.66', 10:'PROCESS_6', 11:'PROCESS_5.5', 12:'PROCESS_5',
                          13:'PROCESS_4.5', 14:'PROCESS_4', 15:'PROCESS_3.5', 16:'PROCESS_3',
                          17:'PROCESS_2.5', 18:'PROCESS_2.0', 19:'PROCESS_1.5', 20:'PROCESS_1.0',
                          21:'PROCESS_0.5', 22:'PROCESS_0'}
        
    def update_mask(self):
        self.mask[:] = False
        if self.process == 0:
            if self.check_time == 28:
                self.mask[:4] = True
            if self.check_time < 28:
                self.mask[self.process_mode] = True
        if self.process == 1:
            self.mask[4] = True
            if self.process_time > 98:
                self.mask[:4] = True
                
    def save_csv(self):
        PRTs = self.submission[["PRT_1", "PRT_2", "PRT_3", "PRT_4"]].values
        PRTs = (PRTs[:-1]-PRTs[1:])[24*23:]
        PRTs[-1] = [0., 0., 0., 0.]
        PRTs = np.ceil(PRTs * 1.1)+1
        PAD = np.zeros((24*23+1, 4))
        PRTs = np.append(PRTs, PAD, axis=0).astype(int)
        self.submission.loc[:, "PRT_1":"PRT_4"] = PRTs

        self.submission.to_csv("test.csv", index=False)    
        
    def reset(self):
        self.step_count = 0
        
    def get_process_mode(self, data):
        if 'CHECK' in data:
            return int(data[-1])
        elif 'CHANGE' in data:
            return int(data[-1])
        else:
            return np.nan         
    
    def cal_queue(self):
    # process마다 queue를 계산하는 함수
        if len(self.queue) > 0:
            self.queue = self.queue - np.array([0,0,1])    
            self.queue,self.stock = queue_to_stock(self.queue,self.stock)    

    def queue_to_stock(queue, stack):
    # cal_queue 함수의 계산을 도와주는 함수
        if len(queue) > 0:
            if queue[0,2] == 0.0:
                stock.iloc[0, int(queue[0,0])+4] += queue[0,1]
                queue = np.delete(queue, (0), axis=0)
                queue, stock = queue_to_stock(queue, stock)
            return queue, stock
    
    def cal_order(self):
        over = 0
        under = 0
        order_time = (self.step_count // 24) * 24 + 6

        if self.step_count == order_time: #납품해야하는 시간일 경우
            order_day = order_time // 24 # order 데이터의 row 번호
            order_month = int(''.join(self.order.loc[order_day, 'time'].split("-")[0:2])) # month

            ratio = (self.cut_yield[self.cut_yield['date'] == int(order_month)]['BLK_1'][0]) / 100 # cut_yield    
            
            for i in range(1,5):
                blk = 'BLK_' + str(i)
                mol = 'MOL_' + str(i)
                mol2blk = self.blk_dict[blk]
                
                # 창고에 blk이 더 많으면 stock에서 뺌
                if self.stock.loc[0,blk] >= self.order.loc[order_day, blk]:
                    self.stock.loc[0,blk] -= self.order.loc[order_day, blk]
                    self.order.loc[order_day, blk] = 0
                
                # 창고에 blk이 더 적으면
                elif self.stock.loc[0,blk] < self.order.loc[order_day, blk]:
                    self.order.loc[order_day, blk] -= self.stock.loc[0,blk]
                    need_mol = np.ceil(self.order.loc[order_day, blk] / mol2blk / ratio)
                    
                    # mol이 충분히 있을 경우 blk으로 자르고 남은 blk은 창고로
                    if self.stock.loc[0,mol] >= need_mol:
                        self.stock.loc[0,mol] -= need_mol
                        self.stock.loc[0,blk] = need_mol*ratio*mol2blk - self.order.loc[order_day, blk]
                        self.order.loc[order_day, blk] = 0
                    
                    # mol이 부족할 경우 일단 있는 mol을 전부 자르고 부족분 처리하고 나머지는 이월
                    elif self.stock.loc[0,mol] < need_mol:
                        self.order.loc[order_day, blk] -= self.stock.loc[0,mol] * ratio * mol2blk
                        self.stock.loc[0,mol] = 0
                        
                        under += self.order.loc[order_day, blk]
                        self.order.loc[order_day + 1, blk] += self.order.loc[order_day, blk] # 여기 고쳐야돼!!
                        self.order.loc[order_day, blk] = 0
                        
                # 초과분        
                over += self.stock.loc[0,blk]
                over += self.stock.loc[0,mol] * ratio * mol2blk

        return over, under
#     def get_state(self):
        
#     def step(self, action):
    
#     def get_score(self):
        
#     def get_reward(self, prev):

In [896]:
env = FactoryEnv()
env.reset()

In [897]:
env.step_count = 6

In [898]:
env.order.loc[0,'BLK_1'] = 3000000
env.order.loc[0,'BLK_2'] = 30000
env.order.loc[0,'BLK_3'] = 30000
env.order.loc[0,'BLK_4'] = 100000

In [899]:
env.stock

,PRT_1,PRT_2,PRT_3,PRT_4,MOL_1,MOL_2,MOL_3,MOL_4,BLK_1,BLK_2,BLK_3,BLK_4
0,0,258,0,0,1086,0,0,0,61158,87279,0,0

In [900]:
env.order

           time      BLK_1    BLK_2    BLK_3     BLK_4
0    2020-04-01  3000000.0  30000.0  30000.0  100000.0
1    2020-04-02        0.0      0.0      0.0       0.0
2    2020-04-03        0.0      0.0      0.0       0.0
3    2020-04-04        0.0      0.0      0.0       0.0
4    2020-04-05        0.0      0.0      0.0       0.0
..          ...        ...      ...      ...       ...
126  0000-00-00        0.0      0.0      0.0       0.0
127  0000-00-00        0.0      0.0      0.0       0.0
128  0000-00-00        0.0      0.0      0.0       0.0
129  0000-00-00        0.0      0.0      0.0       0.0
130  0000-00-00        0.0      0.0      0.0       0.0

[131 rows x 5 columns]

In [901]:
over, under = env.cal_order()

In [902]:
env.stock

,PRT_1,PRT_2,PRT_3,PRT_4,MOL_1,MOL_2,MOL_3,MOL_4,BLK_1,BLK_2,BLK_3,BLK_4
0,0,258,0,0,0,0,0,0,61158,57279.0,0,0

In [903]:
env.order

           time        BLK_1  BLK_2    BLK_3     BLK_4
0    2020-04-01        0.000    0.0      0.0       0.0
1    2020-04-02  2471203.884    0.0  30000.0  100000.0
2    2020-04-03        0.000    0.0      0.0       0.0
3    2020-04-04        0.000    0.0      0.0       0.0
4    2020-04-05        0.000    0.0      0.0       0.0
..          ...          ...    ...      ...       ...
126  0000-00-00        0.000    0.0      0.0       0.0
127  0000-00-00        0.000    0.0      0.0       0.0
128  0000-00-00        0.000    0.0      0.0       0.0
129  0000-00-00        0.000    0.0      0.0       0.0
130  0000-00-00        0.000    0.0      0.0       0.0

[131 rows x 5 columns]

In [908]:
list(env.order[(env.order['BLK_1'] != 0) | (env.order['BLK_2'] != 0) | (env.order['BLK_3'] != 0) | (env.order['BLK_4'] != 0)].index)

[1,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 35,
 36,
 37,
 38,
 39,
 40,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]